body {
  padding-top: 50px;
}

.alert {
	text-align: center;
}

.alert-loading h4 {
	margin: 0;
}

.view-frame {
	margin-top: 20px;
}

.poll-list .header > div > p {
	border-bottom: 1px solid gray;
}

.poll-detail .header {
	text-align: center;
}

.poll-detail .header .data {
	text-align: left;
}

.poll-detail .votes {
	padding-top: 1em;
}

.poll-detail .no-votes {
	text-align: center;
}

.option-detail .option {
	text-align: center;
}