<div class="container-fluid poll-create">

	<div class="row">
		<div class="col-md-12">

			<p>If you have ever had a question but didn’t know how to answer it, this is your place. At <a href="#/"><strong>askkit.net</strong></a> you will make it easily, letting other users vote. <em>White and gold or black and blue?</em>, <em>Pizza, pasta or salad?</em>, <em>Who will win the EEUU elections?</em> or <em>What could I have for dinner?</em> This are some examples that we proprose to you.</p>
			<p>Got a question? Just <a href="#/polls/create">create one</a>; write a title and add a couple options!!</p>
		</div>
	</div>
</div>



