<div class="container-fluid poll-list">
  <div class="row">
    <div class="col-md-12 polls">
      <p>A five elements random selection from our polls database:</p>
      <ul class="">
        <li ng-repeat="poll in random_polls.results | filter:query" class="">
          <a href="#/polls/{{poll.id}}">{{poll.title}}</a>
          <ul class="options">
            <li ng-repeat="option in poll.options" class="">
              <p>{{option.optionText}}</p>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>
