<div class="container-fluid poll-list">

  <div class="row">
    <div class="col-md-12 polls">
      
      <p>A five elements random selection from our polls database:</p>

      <div class="alert alert-danger" role="alert" ng-show="messages.error">
        <button type="button" class="close" aria-label="Close" ng-click="messages.error = null">
          <span aria-hidden="true">&times;</span>
        </button>

        {{messages.error.data.detail}}
        {{messages.error.statusText}}
        <h4 ng-show="!messages.error.data">Can't connect to the server</h4>
      </div>

      <ul class="">
        <li ng-repeat="poll in random_polls.results | filter:query" class="">
          <a href="#/polls/{{poll.id}}">{{poll.title}}</a>
          <ul class="options">
            <li ng-repeat="option in poll.options" class="">
              <p>{{option.optionText}}</p>
            </li>
          </ul>
        </li>
      </ul>
      
      <div class="alert alert-info alert-loading" role="alert" ng-show="!random_polls.results && !messages.error">
        <h4><i class="fa fa-refresh fa-spin" aria-hidden="true"></i> Loading...</h4>
      </div>

    </div>
  </div>
</div>
